
/*Header/Navigation */

nav ul {
	list-style: none;
	display: flex;
}

nav li table {
	display: inline;
}

nav li {
	display: inline-block;
	margin-top: 2em;
}

/*Body */

body {
	margin-top: 70px;
}